html {
    box-sizing: border-box;
    overflow-x: hidden;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
    min-width: 380px;
    min-height: 100vh;
}

@media (min-width: 380px){
    .header__container-mob{
        display: flex;
    }
    .header__container-desk{
        display: none;
    }
    .main__container-welcome{
        background-image: url('../img/mainimages/913d3db7df9034b36790b337de8b3696.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}


@media (min-width: 910px){
    .header__container-mob{
        display: none;
    }
    .header__container-desk{
        display: flex;
    }
}

